table,
thead,
tbody,
tr,
th,
td {
    /* border: 1px solid black; */
}

th {
    text-align: center;
}

td {
    padding: 0 10px;
}
.container-fluid{
    height: 100vh;
}
.dashboard {
    width: 60%;
}
/* header */
#header{   
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    border: 0 solid;
}
.img-container{
    clip-path: circle(50% at 50% 50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: auto;
    display: flex;
    align-content: center;
}
.userPic{
    max-width: 100px;
    height: auto;
}
#icon-coin{
    font-size: 24px;
}
/* End of header */

/* Card */
#card-inv{
    border: 0px solid black;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.btnItems{
    /* padding:10px 10px 3px 0px; */
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.tab{
    width: 100px;
    height: 35px;
    text-align: center;
    color: #000;
    opacity: 50%;
}
.tab a{
    color: #000;
    text-decoration: none;
}

.tab:hover{
    background-color: rgba(33,37,41,0.2);
    border-radius: 5px 5px 0 0;
    opacity: 75%;
    transition: all 0.2s ease-in-out;
}

.activeTab{
    background-color: #212529;
    border-radius: 5px 5px 0 0;
    color: #fff;
    opacity: 100%;
}
.activeTab:hover{
    background-color: rgba(33,37,41,1) !important;
    border-radius: 5px 5px 0 0;
    opacity: 100%;
}

.activeTab a{
    
    color: #fff;
}
/* End of Card */


@media screen and (max-width:1000px){
    .userPic{
        width: 75px;
        height: auto;
    }
    .img-container{
        clip-path: circle(50% at 50% 50%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        width: 75px;
        height: 75px;
        display: flex;
        align-content: center;
    }
    .dashboard{
        width: 95%;
    }
}

@media screen and (max-width:768px){
    .userPic{
        width: 75px;
        height: auto;
    }
    .dashboard{
        width: 95%;
    }
}

@media screen and (max-width:575px){
    .userPic{
        width: 75px;
    }
    .dashboard{
        width: 90%;
    }
    #header{
        display: flex;
        justify-content: center;
    }
    #header .col-12{
        text-align: center;
        
    }

    #koinResponsive{
        display: flex;
        
        justify-content: center;
    }
    .tab{
        width: 75px;
        height: 25px;
        text-align: center;
        color: #000;
        font-size: 10px;
    }
    table{
        font-size: 12px;
    }
}
